# --- Python / Flask ---
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env
.venv/
venv/
instance/
config.py

# --- React / Node.js ---
node_modules/
build/
dist/
*.log
.env.development
.env.production
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- VS Code ---
.vscode/

# --- macOS System Files ---
.DS_Store

