/* Change navigation bar background color */
.navbar {
    background-color: #ffef96 !important; /* Change navigation bar background color */
  }
  
/* Navbar Brand: The Ala Wai Baker */
  .navbar-brand {
    background-color: #fff;         /* Change navbar brand's background color = white */
    padding: 0.5em 1em;             /* Adjust padding for vertical & horizontal space */
    border-radius: 9999px;          /* Creates an oval shape */
    display: inline-block;          /* Ensures the padding and border radius apply properly */
    border: 2px solid #000; /* Adds a 2px black border */
    font-size: 1.00rem;
    font-family: 'Brush Script MT', cursive;
  }
  
/* Homepage body */  
  body {
    background-color: #fff; /* This sets a light blue background */
  }

/* Subscriber email input field */  
.form-container {
  position: fixed;
  top: 75vh;           /* Positions the container at 75% of the viewport height */
  left: 50%;           /* Centers the container horizontally */
  transform: translateX(-50%); /* Offsets the container to truly center it */
  text-align: center;  /* Center-justifies the text and inline elements */
}
  